.DS_Store
node_modules
/build
**/build
/dist
**/dist
.env
.env.*
!.env.example
__generated__
/src/app/lib/ui
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore test coverage
**/coverage

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tailwind.config.ts
