div:where(.swal2-icon).swal2-question {
    display: none !important;
}

div:where(.swal2-container).swal2-center > .swal2-popup.swal2-icon-question:before,
div:where(.swal2-container).swal2-center > .swal2-popup.swal2-icon-question:after {
    content: '';
    background-color: #64748b;
}

div:where(.swal2-container).swal2-center > .swal2-popup.swal2-icon-question:before {
    content: '';
    position: relative;
    width: 512px;
    height: 10px;
    background-color: #64748b;
    border-radius: var(--radius) var(--radius) 0 0;
}

div:where(.swal2-container).swal2-center > .swal2-popup.swal2-icon-question:after {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 50%;
    margin-left: -27.5px;
    top: -27.5px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M10 19h3v3h-3zm2-17c5.35.22 7.68 5.62 4.5 9.67c-.83 1-2.17 1.66-2.83 2.5C13 15 13 16 13 17h-3c0-1.67 0-3.08.67-4.08c.66-1 2-1.59 2.83-2.25C15.92 8.43 15.32 5.26 12 5a3 3 0 0 0-3 3H6a6 6 0 0 1 6-6'/%3E%3C/svg%3E");
}

div:where(.swal2-icon).swal2-question.swal2-icon-show {
    z-index: 999999;
}