@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'sweetAlert2/sweetAlertTheme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 0%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 357 75% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 47% 58%;
    --secondary-foreground: 203 18% 14%;
    --accent: 48 47% 73%;
    --accent-foreground: 203 18% 14%;
    --destructive: 215 28% 17%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 3.9%;
    --radius: 0.375rem;
}

.dark {
    --background: 0 0% 100%;
    --foreground: 0, 0%, 0%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 357 75% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 47% 58%;
    --secondary-foreground: 203 18% 14%;
    --accent: 48 47% 73%;
    --accent-foreground: 203 18% 14%;
    --destructive: 215 28% 17%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 3.9%;
    --radius: 0.375rem;
}

@layer components {
    .border-1 {
        border-width: 1px;
    }

    .input-floating {
        @apply
        block py-3 px-2 w-full text-sm text-gray-900 bg-transparent border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 rounded-lg
    }
}

@layer components {
    .text-md {
        font-size: 1rem;
    }

    .label-floating {
        @apply
        peer-focus:font-medium bg-white z-10 absolute ml-3 px-2 text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6
    }
}

/*componente de boton login*/
@layer components {
    .indent-330 {
        margin-left: -330px;
    }

    .scale-120 {
        transform: scale(1.2);
    }

    .left-dot {
        @apply
        inline-block w-full p-4 border-b-2 rounded-t-lg
        hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300
        before:w-5 before:h-5 before:rounded-full indent-330
        relative m-0 cursor-pointer border-none bg-transparent px-1.5 pb-0.5 pt-5
        outline-none transition-all ease-in-out before:absolute before:left-1/2
        before:z-30 before:box-border before:block before:-translate-x-1/2
        before:border-2 before:border-solid before:border-current before:bg-white
        before:transition-all before:ease-in-out before:content-[''] after:absolute
        after:left-[calc(100%/2)] after:z-10 after:top-2/3 after:block
        after:h-0.5 after:w-1/2 after:bg-current after:transition-all
        after:ease-in-out after:content-[''] sm:indent-0;
    }
}

@layer components {
    .right-dot {
        @apply
        transition-all inline-block w-full p-4 border-b-2 rounded-t-lg
        hover:text-gray-600
        hover:border-gray-300
        before:w-5 before:h-5
        before:rounded-full
        before:scale-120
        -indent-330 relative m-0 cursor-pointer border-none bg-transparent px-1.5 pb-0.5 pt-5
        outline-none ease-linear
        before:absolute
        before:left-1/2
        before:z-30
        before:box-border
        before:block
        before:-translate-x-1/2
        before:border-2
        before:border-solid
        before:border-current
        before:bg-white
        before:transition-all
        before:ease-linear before:content-['']
        after:absolute
        after:left-[calc(0%/2)]
        after:z-10
        after:top-2/3
        after:block
        after:h-0.5
        after:w-1/2
        after:bg-current
        after:transition-all
        after:ease-linear
        after:content-['']
        sm:indent-0
    }
}