<div class="h-20 w-full border border-black">NAVBAR</div> <!--  esto es donde ira a futuro en navbar -->
<div class="bg-gray-50 flex justify-center items-center w-full h-[calc(100vh-80px)] p-10 ">
    <div class="flex flex-col w-full h-full gap-8">
        <h2 class="text-xl">Requisitos Mínimos</h2>
        <hr class="border-t-2 border-gray-250">
        <div class="rounded overflow-hidden border shadow-lg bg-white w-[150] h-full">
            <div class="bg-gray-800 font-bold text-xl mb-2 text-white h-12 px-4 py-2">Lista de chequeo</div>
            <form [formGroup]="capForm" (ngSubmit)="onSubmit()" class="mb-8">
                <div class="flex items-center mb-4">
                    <div class="w-1/3 mr-4 px-10">
                        <label for="requirementName" class="block mb-1 text-sm font-semibold text-gray-600">Nombre del requisito:</label>
                        <input type="text" id="requirementName" formControlName="requirementName" required
                                class="appearance-none border-b bg-transparent py-2 px-3 text-sm text-gray-700 w-full focus:outline-none focus:border-red-500">
                    </div>
                    <div class="w-1/3 mr-4">
                        <label for="description" class="block mb-1 text-sm font-semibold text-gray-600">Descripción:</label>
                        <input type="text" id="description" formControlName="description" required
                                    class="appearance-none border-b bg-transparent py-2 px-3 text-sm text-gray-700 w-full focus:outline-none focus:border-red-500">
                    </div>
                    <div class="w-1/3 mr-5 flex items-center">
                        <label for="mandatory" class="block text-sm font-semibold text-gray-600">Obligatorio:</label>
                        <input type="checkbox" id="mandatory" formControlName="mandatory" class="ml-2">
                    </div>
                    <button hlmBtn variant='default' class="w-40 font-bold hover:border text-white mr-36" type="submit">Agregar</button>
                </div>
            </form>
            <hr class="mt-12 border-t-2 border-gray-250 mb-6">
            <app-table [items]="items" (edit)="onEdit($event)"></app-table>
        </div>
        
    </div>
</div>



