<div class="flex items-center flex-col justify-center h-screen bg-primary-900">
    <div class="bg-white flex flex-col p-11
                lg:w-[1040px] md:w-[840px] sm:w-[480px] w-full
                md:h-[384px] sm:h-[528px] h-full
                sm:rounded-[28px]
                rotate-0">
        <div class="w-full flex flex-row h-4/5">
            <div class="w-1/2 flex flex-col gap-4">
                <img src="assets/img/USCOLogo.svg" alt="usco-logo" class="w-[58px] h-[58px]">
                <h1 class="text-5xl font-medium">Inicia sesión</h1>
                <p>Ir a <span class="text-blue-700">planes academicos</span></p>
            </div>
            <div class="w-1/2 flex flex-col align-middle justify-center">
                <form>
                    <div class="relative z-0 w-full mb-3 group">
                        <input type="text" name="repeat_password" id="floating_user"
                               class="block py-4 px-2  w-full text-sm text-gray-900 bg-transparent border-1 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer rounded-lg"
                               placeholder="" required autocomplete="new-password" />
                        <label for="floating_user"
                               class="peer-focus:font-medium bg-white z-10 absolute ml-3 px-2 text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-4 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-7">
                            Usuario
                        </label>
                    </div>
                    <div class="relative z-0 w-full group">
                        <input type="password" name="repeat_password" id="floating_repeat_password"
                               class="block py-4 mb-1.5 px-2 w-full text-sm text-gray-900 bg-transparent border-1 border-gray-400 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer rounded-lg"
                               placeholder=" " required autocomplete="new-password" />
                        <label for="floating_repeat_password"
                               class="peer-focus:font-medium bg-white z-10 absolute ml-3 px-2 text-md text-gray-500 duration-300 transform -translate-y-6 scale-75 top-4 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-7">
                            Primera contraseña</label>
                        <a href="https://www.usco.edu.co/cambio_clave/"
                           class="text-blue-700 font-bold text-sm hover:bg-blue-50 p-1 rounded-lg"> ¿Olvidó su
                            primera contraseña? </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="w-full h-1/5 flex flex-row-reverse">
            <button hlmBtn>Siguiente</button>
        </div>

    </div>

</div>
