<div class="flex flex-col items-center justify-center h-screen bg-primary-900 ">
    <div
        class="w-full max-w-md h-auto p-5 pb-0 rounded-lg shadow-2xl bg-gray-50 border border-gray-200 dark:bg-gray-800 dark:border-gray-700 transition-all">
        <div id="default-styled-tab-content" class="space-y-5">
            <img class="rounded-t-lg"
                 src="https://sanagustin.usco.edu.co/sivips_admin/resources/assets/img/usco-sivips.png"
                 alt="Logo de la universidad Surcolombiana">
            <h5 class="md:text-xl text-center font-bold text-primary sm:text-sm text-xs dark:text-primary">SISTEMA DE
                INVESTIGACIÓN Y PROYECCIÓN SOCIAL</h5>
            <div class="w-full px-10">
                <div class="hidden divide-y" id="styled-profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form class="max-w-sm pt-2 mx-auto" autocomplete="off" method="post" [formGroup]="loginForm"
                          (ngSubmit)="firstStepLogin()">
                        <div class="relative z-0 w-full mb-5 group">
                            <input formControlName="username" autocomplete="off" type="email" name="floating_email"
                                   id="floating_email"
                                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-600 peer"
                                   placeholder=" " required />
                            <label for="floating_email"
                                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary-600 peer-focus:dark:text-primary-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Usuario</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input formControlName="password" autocomplete="off" type="password"
                                   name="floating_password" id="floating_password"
                                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-600 peer"
                                   placeholder=" " required />
                            <label for="floating_password"
                                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-primary-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contraseña</label>
                        </div>
                        <button hlmBtn type="submit"
                                class="text-white bg-primary hover:bg-primary-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            INGRESAR
                        </button>

                    </form>
                </div>

                <div class="hidden divide-y" id="styled-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <form class="max-w-sm  mx-auto" autocomplete="off">
                        <div class="relative z-0 w-full mb-5 group">
                            <input autocomplete="off" type="password" name="floating_password" id="floating_passwordtwo"
                                   class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-600 peer"
                                   placeholder=" " required />
                            <label for="floating_passwordtwo"
                                   class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-primary-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Segunda
                                Contraseña</label>
                        </div>
                        <button hlmBtn (click)="secondStepLogin()"
                                class="text-white bg-primary hover:bg-primary-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            INGRESAR
                        </button>

                    </form>
                </div>
            </div>
        </div>
        <div class="mt-4 w-auto border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab"
                data-tabs-toggle="#default-styled-tab-content"
                data-tabs-active-classes="text-primary hover:text-primary dark:text-primary-500 dark:hover:text-primary-500 dark:border-primary-500"
                data-tabs-inactive-classes="dark:border-transparent text-gray-300 hover:text-gray-700 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300"
                role="tablist">
                <div class="w-full max-w-full mx-auto my-12 lg:w-8/12">
                    <div class="grid grid-cols-2">
                        <li role="presentation">
                            <button data-tabs-active-classes="text-primary" class="left-dot" id="profile-styled-tab" data-tabs-target="#styled-profile" type="button"
                                    role="tab" aria-controls="profile" aria-selected="false"><p class="z-40 relative">
                                1</p></button>
                        </li>
                        <li role="presentation">
                            <button data-tabs-active-classes="text-primary" class="right-dot"
                                    id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button"
                                    role="tab" aria-controls="dashboard" aria-selected="false"><p class="z-40 relative">
                                2</p></button>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

